.su-success-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .su-success-message{
    font-size: 24px;
    font-weight: 500;

  }
  .su-success-popup-content {
    background-color: #0B0A23;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .su-success-lottie-check{
    width: 30vw;
  }

  .su-success-popup-button {
    cursor: pointer;
    background-color: #06D6A0;
    /* Set background color as needed */
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    border: 1px solid #06D6A0;
    /* Add a border for better visibility */
    border-radius: 18px;
    /* Set the border radius to make the input box rounded */
    transition: transform 0.3s ease; /* Add a smooth transition on transform property */
  }
  
  .su-success-popup-button:hover {
    transform: scale(1.1);
  }
  
  