@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.td-title {
  color: black;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}


.TodoWrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #D4D3FE;
  margin-top: 5rem;
  height: 60vh;
  width: 60vh;
  padding: 2rem;
  border: 1px solid #4361EE;
  border-radius: 5px;
  overflow-y: auto;
}


.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #4361EE;
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
  font-size: medium;
}

.todo-input::placeholder {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.todo-btn {
  background: #4361EE;
  color: #fff;
  border: none;
  font-family: 'Poppins', sans-serif;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 2vh;
  font-size: medium;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4361EE;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: medium;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  /* color: #c5aeff; */
  color: blue;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}