/* Dashboard.css */

.db-starry-background{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    min-height: 100vh;
}



.db-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calender-container {
    background: linear-gradient(#4361EE 20%, #D4D3FE 20%); /* Change the second color for the top part */
    height: 50vh;
    width: 35%; /* Adjust width as needed */
    z-index: 2;
    color: black;
    margin: 30vh; /* Adjust margin as needed */
    border-radius: 1.5vh;
}

.todolist-container {
    background: linear-gradient(#4361EE 20%, #D4D3FE 20%); /* Change the second color for the top part */
    height: 50vh;
    width: 30%; /* Adjust width as needed */
    z-index: 2;
    color: black;
    border-radius: 1.5vh;
}

.moon-icon{
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 0%;
}

.calender-top{
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: center;
    height: 10vh;
    width: 60vh;
    gap: 5vh;  
    
}

.db-calender-clouds{
    margin-bottom: 15vh;
    z-index: 2;
}
.calender-title{
    font-size: 25px;
    font-weight: bold;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 26vh;
}

.todolist-top{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 10vh;
   
    width: 50vh;
    gap: 3vh;  
    cursor: pointer;
}

.db-todolist-clouds{
    margin-bottom: 15vh;
    z-index: 2;
   
}

.todolist-title{
    font-size: 25px;
    font-weight: bold;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    color: white;
    
    
    
}

.tasks-main{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-left: 3px;
    width : 98%;
}

.checkbox{
    margin-right: 10px;
    color: #4361EE;
}

.todo-tasks {
    font-size: 2.7vh;
    margin-left: 1vh;
    font-family:'Courier New', Courier, monospace;
    height: 76%;
    overflow-y: auto;
    cursor: pointer;   
}

.todo-overlap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 3;
}

.todo-close{
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
    border-radius: 1vh;
    font-size:larger;
}