.forum-bg {
    position: relative;
    /* Prevent horizontal overflow */
    
  
}
.main-container {
    display: flex;
    /* Ensure the main container takes up the full width of the forum background */
    width: 100%;
  }
.navbar-container {
    flex: 1;
  
    /* Initial width of the navbar */
    transition: width 0.3s ease-in-out;
    /* z-index: 100; */
    /* Ensure the navbar stays above other content */
}
.uploaded-image{
    height: 30vh;
    width: 100%;
}

.post-Page-uploaded-image{
    height: 50vh;
    width: 80%;

}
.forum-main {
    background-color: #16145c;
    z-index: 1;
    height: 100vh;
    margin-left: 15vh;
    overflow-y: auto;
    flex: 3;
    /* flex-grow: 1; */
    
}

.preview-image {
    height: 5vh;
    width: 5vh;
}

.post-user-date {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}


.forum {
    flex-grow: 1;
    /* Allow the content to fill the remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.create-post {
    background-color: #16145c;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.forum-pic {
    height: 12vh;
    width: 12vh;
    border-radius: 100%;
    margin-right: 2vh;

}

.upload-progress-container {
    width: 100%;
    /* Ensure the container takes the full width */
    z-index: 10;
}

.fake-upload-progress {
    height: 20px;
    /* Set a height for the progress bar */
    background-color: green;
    /* Set the background color to green */
    z-index: 10;
}

.post-reaction {
    display: flex;
}

.post-like {
    background-color: #6b3aff;
    height: 3vh;
    border-radius: 5vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 2vh;

}


.post-comments {
    background-color: #6b3aff;
    height: 3vh;
    border-radius: 5vh;
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
    cursor: pointer;

}

.post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;

}

.post-box {
    display: flex;
    padding-top: 2vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.post-input {
    border-radius: 1vh;
    height: 10vh;
    width: 40vw;
}

.post-button {
    border-radius: 5vh;
}

.forum-icons {
    display: flex;
    gap: 10px;
    /* Gap between elements */
}

.forum-search {
    width: 35vh;
    border-radius: 3vh;
    margin-top: 7vh;
}

.button-forum-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    /* Adjust button width */
    grid-auto-rows: minmax(auto, auto);
    /* Ensure rows adjust to content height */
    grid-gap: 10px;
    /* Adjust gap between buttons */
    overflow-x: auto;
    /* Enable horizontal scrolling if buttons exceed container width */
    max-width: 100%;
    /* Ensure container doesn't exceed parent width */
}

.button-forum-grid button {
    padding: 10px;
    background-color: #4361EE;
    border: none;
    border-radius: 10vh;
    cursor: pointer;
}

.button-forum-grid button:hover {
    background-color: #ccc;
}

.forum-browse {
    padding-bottom: 2vh;
}

.post {
    border-bottom: 1px solid white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center
}

.post-prof-pic {
    height: 12vh;
    width: 12vh;
    border-radius: 100%;
    margin-right: 2vh;
}

.post-info {
    display: flex;
    justify-content: space-between;
    gap: 55vh;
}

.post-userpic {
    margin-right: 2vh;
    margin-left: 5vh;
}

.main-post {
    display: flex;
}

.post-owner {
    font-weight: bold;
}

.like-icon {
    padding-right: 0.5vh;
}

.like-number {
    padding-left: 0.5vh;
    color: black;
}

.comment-title {
    color: black;
    padding-left: 1vh;
    padding-right: 0.5vh;
}

/* 2xl */
@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {
    .element {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .element {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .uploaded-image{
        height: 30vh;
        width: 80%;
    }
    .post {
        border-bottom: 1px solid white;
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;
    }
    .post-date{
        margin-right: 10vh;
    }
}

/* sm */
@media (max-width: 640px) {
    
}

/* xs */
@media (max-width: 475px) {
    .element {
        width: 100%;
    }
}