.group-page {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #0f0c2b;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.group-page-navbar-container {
  z-index: 94;
  flex-grow: 1;
}

.group-page-container {}

.group-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.group-name {
  margin-left: 40px;
}

.group-image {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border-radius: 20%;
  object-fit: cover;
  overflow: hidden;
}

.group-actions {

  margin-top: 10px;
  width: fit-content;
  position: static;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;


}

.group-navbar {
  position: sticky;
  z-index: 90;
  top: 0;
  background-color: #0f0c2b;
  border-bottom: 1px solid #ffffff;
}



.group-actions button {
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: medium;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 180px;
  /* Increased from 50px */
  height: 50px;
  /* Increased from 50px */
  border-radius: 20px;
  /* Rounded corners */
  background-color: #6b3aff;
  color: white;
  cursor: pointer;
}


.group-actions button:hover {
  background-color: #cab8ff;
}

.tabs button {
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  color: #a2a2a2;
  font-size: larger;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 3px solid #6b3aff;
  color: rgb(255, 255, 255);
}

.content {
  flex-grow: 1;
  padding: 20px;

}

.whiteboard-author-div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  border-radius: 20px;
  align-items: center;
  margin-bottom: 5px;
  background-color: #cab8ff;
}

.whiteboard-author-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 10px;
  border: 2px solid #ffffff;
}

.whiteboards-container {
  text-align: center;
  margin-bottom: 5px;
}

.whiteboards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-template-rows: repeat(auto-fill, minmax(400px, 2fr));
  gap: 30px;
}

.whiteboard-item {
  height: 400px;
  background-color: #5a579e;
  /* Adjust color to match your design */
  padding: 10px;
  border-radius: 10px;
  /* Adjusted to match the design */
  overflow: hidden;
  /* To ensure the image corners are also rounded */
  box-shadow: 0 4px 8px rgba(138, 60, 255, 0.344);
  /* Optional: Adds a subtle shadow for depth */
  text-align: left;
  font-size: larger;
  color: white;
  /* For the text color */
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease;
  /* For absolute positioning of child elements */
}

.whiteboard-item:hover {
  background-color: #5a579e;
  /* Adjust color to match your design */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

.whiteboard-item:hover img {
  transform: scale(1.15);
}

.whiteboard-item:hover button {
  transform: scale(1.15);
  background-color: #cab8ff;
}


.whiteboard-image {
  display: block;
  /* Add this line */
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 1;
  transition: transform 0.5s ease;
  /* You might want to move this to the .group-preview class */
}

.whiteboard-name {
  margin-top: 35px;
  text-align: center;
  font-size: larger;
}

.whiteboard-creation-date {
  text-align: center;
  font-size: medium;
}

.whiteboard-grid-btn {
  position: absolute;
  background-color: #6b3aff;
  left: 75%;
  top: 22%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.whiteboard-grid-btn-2 {
  position: absolute;
  background-color: #6b3aff;
  left: 10%;
  top: 22%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.whiteboard-grid-btn:hover {
  background-color: #6b3aff;
}


.w-btn-img {
  width: 30px;
  height: 30px;
  position: relative;
  left: -90%;
  bottom: 0%;
  border-radius: 10px;
  opacity: 1;
  transition: transform 0.5s ease;
}


.group-page-users-tab-container {

  width: auto;
  height: auto;
  margin: 20px;

}

.group-page-users-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.whiteboard-users-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}


.another-container {
  padding: 5%;
}


.group-page-user-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #5a579e;
  box-shadow: 0 4px 8px rgba(138, 60, 255, 0.344);
  border-radius: 20px;
  transition: transform 0.5s ease;
  flex-grow: 1;

}

.group-page-user-container:hover {

  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);

}

.group-page-user-container:hover img {
  transform: scale(1.15);
}

.group-page-user-container:hover div {
  transform: scale(1.05);
}

.group-page-user-container:hover button {
  transform: scale(1.10);
}

.group-page-user-image {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 10px;
  border: 2px solid #ffffff;
  transition: transform 0.5s ease;

}

.group-page-user-name {

  font-weight: bold;
  margin-right: 20px;
}

.group-page-permissions-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #433e72;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 10px;
  flex-wrap: wrap;
  transition: transform 0.5s ease;

}

.group-page-user-text {

  font-size: medium;
  color: #ffffff;
  margin-right: 10px;

}

.group-page-mute-btn {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;

}

#start-whiteboard-btn {

  margin-left: auto;
  width: fit-content;
  display: block;
}

#leave-group-btn {
  width: fit-content;
  background-color: red;
  margin-left: auto;
}

#leave-group-btn:hover {
  background-color: rgb(255, 149, 149);
}

.group-page-kick-btn {

  background-color: red;
  width: fit-content;
  font-size: large;
  font-weight: bold;
  padding: 12px;
  border-radius: 20px;
  margin: 10px;
  transition: transform 0.5s ease;


}

.group-page-kick-btn:hover {

  background-color: rgb(255, 149, 149);

}


.group-page-add-users-container .group-page-add-user-container {}

.group-btns-container {

  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;

}

.bob-btn-2 {
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: larger;
  width: fit-content;
  /* Increased from 50px */
  height: fit-content;
  /* Increased from 50px */
  border-radius: 20px;
  /* Rounded corners */
  background-color: #6b3aff;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
}

.bob-btn-2:hover {
  background-color: #cab8ff;
}

.group-add-users-header {

  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  margin-bottom: 30px;

}

.users-search-bar {
  width: 70%;
  margin-top: 25px;
  margin-left: 20px;
  height: 30px;
  font-size: larger;
  /* Increase font size */
  border-radius: 30px;
  /* Rounded corners */
}

#visible {
  visibility: visible;
  display: block;
}

#hidden {
  visibility: hidden;
}

#removed {
  display: none;
}

#disabled-btn {
  width: fit-content;
  background-color: rgb(173, 173, 173);
  margin-left: auto;
}

#disbled-btn:hover {
  background-color: rgb(204, 204, 204);
}

#add-to-group-btn {
  margin-left: auto;
}

#add-users-btn {
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  background-color: #6b3aff;
}

#add-users-btn-unselected {
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  background-color: #cab8ff;
}

.files-container {
  /* Styles for file container */
}