.group-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0f0c2b;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.group-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.group-name {

  margin-left: 40px;

}

.group-image {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border-radius: 20%;
  object-fit: cover;
  overflow: hidden;
}

.group-actions {

  margin-top: 10px;
  width: fit-content;
  position: static;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;


}

.group-navbar {
  position: sticky;
  z-index: 90;
  top: 0px;
  background-color: #0f0c2b;
  border-bottom: 1px solid #ffffff;
}



.group-actions button {
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: medium;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 180px;
  /* Increased from 50px */
  height: 50px;
  /* Increased from 50px */
  border-radius: 20px;
  /* Rounded corners */
  background-color: #6b3aff;
  color: white;
  cursor: pointer;
}


.group-actions button:hover {
  background-color: #cab8ff;
}

.tabs button {
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  color: #a2a2a2;
  font-size: larger;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 3px solid #6b3aff;
  color: rgb(255, 255, 255);
}

.content {
  flex-grow: 1;
  padding: 20px;

}

.whiteboards-container {
  text-align: center;
  margin-bottom: 5px;
}

.whiteboards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.whiteboard {
  height: 250px;
  width: 300px;

  background-color: #433e72;
  /* Adjust color to match your design */
  padding: 20px;
  border-radius: 10px;
  /* Adjusted to match the design */
  overflow: hidden;
  /* To ensure the image corners are also rounded */
  box-shadow: 0 4px 8px rgba(138, 60, 255, 0.344);
  /* Optional: Adds a subtle shadow for depth */
  text-align: left;
  font-size: larger;
  color: white;
  /* For the text color */
  cursor: pointer;
  position: relative;
  /* For absolute positioning of child elements */
}

.whiteboard:hover {
  background-color: #5a579e;
  /* Adjust color to match your design */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.6);
}

.whiteboard-image {
  display: block;
  /* Add this line */
  width: 100%;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 1;
}

.whiteboard-name {
  text-align: center;
  font-size: larger;
}

.whiteboard-creation-date {
  text-align: center;
  font-size: medium;
}

.whiteboard-grid-btn {
  position: absolute;
  left: 75%;
  top: 36%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.w-btn-img {
  width: 30px;
  height: 30px;
  position: relative;
  left: -90%;
  bottom: 0%;
  border-radius: 10px;
  opacity: 1;
}

#start-whiteboard-btn {
  width: fit-content;
}

.files-container {
  /* Styles for file container */
}