.ss-mainbg {
    background-color: #0B0A23;
    height: 100vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ss-select-box {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: center;
}

.ss-prof {
    /* border: 2vh solid black; */
    margin-right: 10vh;
    display: flex;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: border 0.3s, transform 0.3s;
    padding: 1vh;
}

.ss-prof:hover {
    cursor: pointer;
    z-index: 99;
    background-color: #6b3aff;
    border-radius: 2vh;
    color: rgb(20, 20, 20);
    transform: scale(1.2);
    
}

.ss-prof-icon {}

.ss-prof-title {
    font-size: 30px;
}

.ss-app {
    /* border: 2vh solid black; */
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    z-index: 99;
    align-items: center;
    text-align: center;
    transition: border 0.3s, transform 0.3s;
    padding: 1vh;
}

.ss-app:hover {
    cursor: pointer;
    background-color: #6b3aff;
    border-radius: 2vh;
    color: rgb(20, 20, 20);
    transform: scale(1.2);
    /* padding: 1vh; */
}

.ss-app-icon {}

.ss-app-title {
    font-size: 30px;
}

.ss-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
}

.ss-button {
    cursor: pointer;
    background-color: #6b3aff;
    /* Set background color as needed */
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2vh;
    margin-bottom: 2vh;
    border: 1px solid #6b3aff;
    /* Add a border for better visibility */
    border-radius: 18px;
    /* Set the border radius to make the input box rounded */
    transition: border 0.3s, transform 0.3s;

}

.ss-button:hover {
    transform: scale(1.2);
    background-color: #6b3aff;

}