.nb-main{
    background-color: #201F45;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 33vh;
}

.nb-user{
    color: white;
    padding-bottom: 6vh;
    padding-top: 3vh;
    padding-left: 1vh;
    display: flex;
    align-items: center;
    padding-right: 3vh;
}

.nb-profile-pic{
    height: 9vh;
    width: 9vh;
    border-radius: 100%;
    padding-right: 1vh;
}

.nb-user-username{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.nb-user-email{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.nb-icons{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 3vh;
}

.dashboard-icon{
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.nb-options{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 3vh;
    padding-top: 3vh;
}

.nb-settings{
    padding-top: 4vh;
    padding-bottom: 1vh;
    display: flex;
    align-items: center;
}

.dashboard-icon{
    display: flex;
    align-items: center;
}


.nb-dashboard-icon{
    padding-right: 0.8vh;
}