.whiteboard-messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* height: 80%; */
  /* Remove this line */
  padding: 10px;
  padding-bottom: 75px;
  margin-bottom: 25px;
  overflow-y: scroll;

}


.whiteboard-message-container-me {

  padding: 10px;
  display: grid;
  grid-template-areas:
    "user-icon textContainer"
    "empty timeStamp";
  grid-template-rows: auto 1px;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

.whiteboard-message-container-they {

  padding: 10px;
  display: grid;
  grid-template-areas:
    "textContainer user-icon"
    "timeStamp empty";
  grid-template-rows: auto 1px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.whiteboard-message-timestamp-they {
  margin-left: auto;
  grid-area: timeStamp;
  font-size: small;
  color: rgb(216, 216, 216);
  transform: translate(-10px, 3px);
}

.whiteboard-message-timestamp-me {
  margin-right: auto;
  grid-area: timeStamp;
  font-size: small;
  color: rgb(216, 216, 216);
  transform: translate(10px, 3px);
}

.whiteboard-message-text-container {

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #6b3aff;

}


.whiteboard-chat-container {
  position: static;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 12;
  background-color: #0f0c2b;
  z-index: 20;
  /* Example: 80% of the viewport height, adjust as needed */

  /* Add scrollbar when content exceeds the container height */
}

.whiteboard-input-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 25;
  border-top: 2px solid rgba(255, 255, 255, 0.737);
  z-index: 20;
  background-color: #0f0c2b;
  /* Example: 80% of the viewport height, adjust as needed */

  /* Add scrollbar when content exceeds the container height */
}

.whiteboard-message-input-container {

  width: 100%;
  height: auto;
  background-color: #0f0c2b;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid #6b3aff;


}

.whiteboard-message-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.whiteboard-message-form {

  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 10px;
}

.whiteboard-message-input-field {

  flex-grow: 1;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  height: 20px;
  border: 1px solid #ced4da;

  font-size: larger;

  /* overflow: hidden; */
}

#error-form {
  position: fixed;
  top: 40%;
  left: 40%;

  background-color: #433e72;
  padding: 20px;
  /* Increased from 20px */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.6);
  /* Increased shadow size */
  /* Rounded corners */
  width: 350px;
  height: fit-content;


  animation: slideUp2 0.5s ease-out;

}

#error-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error-form-text {
  padding: 0px;
  font-size: large;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#error-form-btn {
  width: fit-content;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

#erorr-form-btn:hover {
  background-color: #ffffff;
  color: rgb(255, 163, 163);
  cursor: pointer;
}

#whiteboard-message-send-btn {

  margin-right: 15px;
  color: #ffffff;
  cursor: pointer;
  transform: translateY(-8px);
  flex-grow: 1;

}

@keyframes slideUp2 {
  0% {
    transform: translateY(500%);
  }

  100% {
    transform: translateY(0%);
  }
}

.paperclip-icon {
  height: 30px;
  width: 30px;
}

.whiteboard-message-select-files-btn {
  margin-right: 10px;
  background-color: transparent;
  transform: translateY(-8px);
  border-radius: 50px;
}

.whiteboard-message-select-files-btn:hover {
  cursor: pointer;
  background-color: #6b3aff;
}

.whiteboard-selected-files-container {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.whitebpard-selected-files-list {
  background-color: #cab8ff;
  height: fit-content;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  padding: 5px;
  gap: 10px;
}

.whiteboard-selected-file-container {
  background-color: #6b3aff;
  width: auto;
  height: fit-content;
  display: flex;
  padding: 5px;
  border-radius: 20px;
  gap: 10px;
}

.whiteboard-selected-file-icon {
  min-width: 55px;
  width: 55px;
  border-radius: 20px;
  height: 55px;
  overflow: auto;
}

.whiteboard-selected-file-name {
  height: 50px;
  font-size: medium;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-y: scroll;
}

.whiteboard-message-file-name {
  font-size: medium;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-y: scroll;
}

.whiteboard-message-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.whiteboard-message-video {
  max-width: 300px;
}

.whiteboard-message-other-file {
  display: flex;
  flex-direction: row;
  width: auto;
}

.whiteboard-message-file-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.whiteboard-message-file-name {
  font-size: medium;
  color: #ffffff;
  max-width: 350px;
}